/*
Name: Roos Greven
Stylesheet 
*/

#leftChart {
	width: 550px;
	float: left;
}

.dropdown-left {
	float: left;
	width: 500px;
	margin-left: 45px;
}

#graphTitleleft {
	float: left;
	margin-left: 60px;
}

#rightChart {
	float: right;
	margin-right: 100px;
	width: 550px;
}

.dropdown-right {
	display: inline-block;
	float: right;
	margin-right: 400px;
}

#graphTitleright {
	float: left;
	margin-left: 60px;
}

h1 {
	font: 25px sans-serif;
	margin-left: 45px;
}

h2 {
	font: 15px sans-serif;
	margin-left: 45px;
}

.bar {
	fill: steelblue;
}

.axis text {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 1px;
}

